label{
    color:#4885ed;
    
}
img{
    width:75px;
    height:55px;
   
}
.test{
    background:white;
    width:auto;
}
.bt1{
    margin-left:100px;
}
.btc{
    margin-left:50px;
    width:260px;
    
}
